* {
margin: 0;
padding: 0;
background-image: none;
 }

  .grid {
    display: grid;
    background-color: white ;
    padding-top: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto  auto auto auto;
    grid-template-areas:
    "name name"
    "navbar navbar"
    "title title"
    "sidebar sidebar"
    "content content"
    "blog blog"
    "footer footer"
  }

.name  {
    grid-area: name;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    font-size: 25px;
    font-family: 'EB Garamond', serif;
    font-style: italic;

}

.navbar  {
  grid-area: navbar;
  display: grid;
  grid-auto-flow: row;
  padding: 10px;
  grid-gap: 20px;
  background-color: #E5DCDE;

}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.navbar a:hover {
  text-decoration: underline;
}

.logo {
display: grid;
align-content: center;
text-align: center;
font-size: 47px;
font-family: 'Miss Fajardose', cursive;
}

.logo a:hover{
text-decoration: none;
}


.links {
display: grid;
align-content: center;
text-align: center;
grid-auto-flow: rows;
font-size: 20px;
font-family: 'EB Garamond', serif;
}

  /* Dropdown */

.dropbtn {
  background-color: #E5DCDE;
  color: inherit;
  font-size: 20px;
  font-family: 'EB Garamond', serif;
  border: none;
  cursor: pointer;
  padding-right: 15px;
  padding-left: 15px;
}

.dropdown {
  display: grid;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: grid;
  grid-auto-flow: column;
  position: absolute;
  padding-bottom: 5px;
  width: 100%;
  background-color: #E5DCDE;
  align-content: center;
  text-align: center;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  visibility: visible;
}

.dropdown-content p {
	text-align: center;
  font-size: 16px;
}


.dropdown:hover .dropdown-content {
  visibility: visible;
  top: 100%;
}
  /* end Dropdown */

  .title  {
      grid-area: title;
      padding-top: 35px;
      padding-bottom: 20px;
      text-align: center;
      font-size: 30px;
      font-family: 'EB Garamond', serif;
      font-weight: bold;
  }

.sidebar  {
    grid-area: sidebar;
    display: grid;
    padding: 30px;
    align-content: center;
}


.content  {
    grid-area: content;
    display: grid;
    padding: 30px;
    align-content: center;
}


.blog {
  grid-area: blog;
  display: grid;
  font-size: 30px;
  text-align: left;
  margin: 20px;
  justify-items: flex;
}

.blog a {
  text-decoration: inherit;
  color: #E45B0D;
}

.blog a:hover {
  text-decoration: underline;
}

figure {
  display: grid;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-items: center;
  text-align: center;
}

figcaption {
    font-size: 20px;
    font-weight: 100;
}

.footer  {
    grid-area: footer;
    font-size: 15px;
    text-align: center;
    margin: 20px;
    margin-bottom: 30px;
}


h1 {
  font-size: 30px;
  text-align: center;
}

h2 {
  font-size: 28px;
  margin-top: 20px;
}

h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  margin-top: 20px;
}

h6 {
  font-size: 20px;
  font-weight: 100;
}

ul.a {
  list-style-type: square;
  padding-left: 50px;
}

ul li {
  font-size: 22px;
  font-family: 'EB Garamond', serif;
  margin-top: 10px;
  text-align: justify;
}


p {
  font-size: 22px;
  font-family: 'EB Garamond', serif;
  margin-top: 10px;
  text-align: justify;
}

a {
  text-decoration: underline;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

body
{ background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: 'EB Garamond', serif;
}


@media screen and (min-width: 836px) {
  .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas:
  "name name"
  "navbar navbar"
  "title title"
  "sidebar content"
  "blog blog"
  "footer footer"}


  .navbar  {
      grid-area: navbar;
      display: grid;
      grid-template-columns: 1fr 70%;
      grid-auto-flow: column;
      padding: 10px;
      grid-gap: 20px;
      background-color: #E5DCDE ;
  }

  .logo {
  display: grid;
  padding-left: 20px;
  justify-content: start;
  align-content: center;
  text-align: center;
  font-size: 47px;
  font-family: 'Miss Fajardose', cursive;

  }

  .links {
  display: grid;
  justify-content: end;
  align-content: center;
  grid-auto-flow: column;
  grid-gap: 20px;
  font-size: 20px;
  padding-right: 20px;
  font-family: 'EB Garamond', serif;
  }

  .dropdown-content {
    display: grid;
    grid-auto-flow: rows;
    grid-template-rows: auto auto;
    position: absolute;
    padding: 5px 10px 10px 10px;
    width: 100%;
    background-color: #E5DCDE;
    align-content: center;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    visibility: hidden;
    transition: 0.3;
  }
}


@media screen and (min-width: 1310px) {
  .grid {
  display: grid;
  grid-template-columns: 1fr 35% 35% 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas:
  ". name name ."
  ". navbar navbar ."
  ". title title ."
  ". sidebar content ."
  ". blog blog ."
  ". footer footer ."
}
}
